header {
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 1000px;
}

body {
    background: url("assets/episk.jpg") no-repeat center center fixed;
    background-size: auto auto;
    background-size: 110% auto;
    margin: 0;
    padding: 0;
    color: white;
}

@media screen and (max-width: 800px) {
    body {
        background-size: cover;
        background-attachment: fixed;
    }
}

a:link {
    color: rgb(52, 113, 141);
}

:visited {
    color: rgb(52, 113, 141);
}

Header {
    height: 0;
}

.Nav{
    position: fixed;
    top: 0%;
    width: 100%;
    background-color: black;
    font-family: Impact;
}

.Hello {
    position: fixed;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 75px;
    text-align: center;
    top: 25%;
}

.Cube {
    position: fixed;
    right: 25%;
}

.Twitter {
    position: fixed;
    bottom: 0px;
    height: auto;
    width: 15%;
}

.Youtube {
    position: fixed;
    bottom: 0px;
    left: 16%;
    height: auto;
    width: 15%;
}

.Discord {
    position: fixed;
    bottom: 0px;
    left: 32%;
    height: auto;
    width: 15%;
}

.aboutMe {
    position: fixed;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 50px;
    top: 0%;
}

.text {
    position: fixed;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    top: 12%;
}

.contact {
    position: fixed;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 80px;
    top: 0%;
}

.contactBottom {
    position: fixed;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 165%;
    top: 20%;
}

img:Hover {
    cursor: pointer;
}

a:hover {
    cursor: pointer;
    color: purple;
}

a:link {
    text-decoration: none;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  
}

